.container {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  margin-left: 10%;
  margin-right: 10%;
  position: relative;
  margin-top: 5vh;
}

.container_main {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: auto;
  margin-bottom: 7vh;
}

.container_main img {
  width: 30vw;
  display: flex;
}

.main_text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: auto;
  text-align: left;
  width: 40vw;
}

.main_text h2 {
  margin-top: 2vh;
  line-height: 110%;
}

.container_check {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 7vh;
}

.container_check h2 {
  width: 100%;
  text-align: center;
  margin-bottom: 5vh;
}

.container_check h3 {
  width: 100%;
  text-align: start;
  height: auto;
  line-height: 130%;
  margin-bottom: 1vh;
}

.container_check ul {
  width: 100%;
  text-align: start;
  line-height: 160%;
  list-style: none;
  padding-left: 0;
  margin-left: 1vh;
}

.container_check ul li {
  position: relative;
  padding-left: 2vw;
  margin-bottom: 1.5vh;
}

.container_check ul li::before {
  content: "✔";
  color: orange;
  font-size: 12px;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.container_eq {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 7vh;
}

.container_eq h2 {
  width: 100%;
  text-align: center;
  margin-bottom: 3vh;
}

.problem {
  width: 100%;
  border-bottom: 1px solid #666;
  padding: 3vh 0;
}

.problem:last-child {
  border-bottom: none;
}

.problemTitle {
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 1vh 0;
  transition: color 0.3s ease-in-out;
}

.arrow {
  margin-right: 3vw;
  transition: transform 0.3s ease-in-out;
  display: flex;
  align-items: center;
}

.arrow.open {
  transform: rotate(90deg);
}

.answers {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  padding-left: 4vw;
  transition: max-height 0.5s ease-in-out, opacity 0.5s ease-in-out, padding 0.5s ease-in-out;
}

.answers.visible {
  max-height: 1000vh;
  opacity: 1;
  padding-left: 4vw;
}

.answer {
  margin-top: 3vh;
}

.answer p {
  margin: 0;
  line-height: 140%;
}

.answer a {
  display: block;
  margin-top: 1vh;
  font-size: 2.5vh;
  color: #FFAA24;
  text-decoration: none;
}

.answer a:hover {
  text-decoration: underline;
}

.container_theme {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 5vh;
}

.container_theme h2 {
  margin-bottom: 3vh;
}

.container_theme h3 {
  margin: 3vh 0;
}

.container_theme ul {
  width: 100%;
  text-align: start;
  line-height: 160%;
  list-style: none;
  padding-left: 0;
  margin-left: 1vh;
}

.container_theme ul li {
  position: relative;
  padding-left: 2vw;
  margin-bottom: 1.5vh;
}

.container_theme ul li::before {
  content: "✔";
  color: orange;
  font-size: 12px;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

@media (max-width: 800px) {
  .container_check ul li {
    padding-left: 3vw;
  }
}

@media (max-width: 600px) {

  .container_main {
    flex-direction: column;
    align-items: center;
  }

  .container_main img {
    margin-left: 0;
    margin-bottom: 2vh;
    width: 35vw;
  }

  .container_main h1 {
    margin-bottom: 2vh;
  }

  .container_check h2 {
    margin-bottom: 3.5vh;
  }

  .container_check h3 {
    margin-top: 2vh;
  }

  .container_check ul li {
    padding-left: 5vw;
  }

  .container_theme ul li {
    padding-left: 5vw;
  }

  .arrow {
    margin-right: 5vw;
  }

  .answer a {
    font-size: 2vh;
  }

}

@media (max-width: 600px) {

  .container_check ul li {
    padding-left: 7vw;
  }

  .container_theme ul li {
    padding-left: 7vw;
  }

}