.container {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  margin-left: 10%;
  margin-right: 10%;
  position: relative;
  margin-top: 5vh;
}

.container_main {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: auto;
  margin-bottom: 7vh;
}

.container_main img {
  width: 30vw;
  display: flex;
}

.container_main h1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: auto;
  text-align: left;
  line-height: 110%;
}

.container_task_about {
  width: 100%;
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  height: auto;
  margin-bottom: 10vh;
  background-color: #FFEEB1;
}

.task_about_all {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: auto;
  text-align: left;
  width: 75vw;
  align-items: center;
  padding: 5vw;
}

.task_about_text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: auto;
  text-align: left;
  width: auto;
  margin-left: 3vw;
}

.task_about_text p {
  margin: 0;
}

.task_about_all img {
  width: 10vw;
  height: 10vw;
}

.task_about_all h2 {
  margin-left: 2vw;
  line-height: 140%;
}

.break {
  margin-left: 2vw;
  width: 1px;
  display: flex;
  position: relative;
  align-items: center;
  background-color: #4A3311;
  height: 20vh;
}

.container_ask {
  width: 75vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  align-items: center;
  height: auto;
  margin-bottom: 10vh;
  background-color: #ffffff;
}

.ask_text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  text-align: left;
  width: 45vw;
  margin-bottom: 5vh;
}

.ask_text p {
  margin: 0;
}

.container_ask img {
  margin-left: 5vw;
  width: 25vw;
  margin-bottom: 2vh;
}

.container_ask h2 {
  margin-bottom: 3vh;
}

.container_equipment {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: space-between;
  height: auto;
  margin-bottom: 10vh;
  background-color: #fff;
}

.equipment_block_cards {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  width: auto;
  text-align: center;
}

.equipment_card {
  width: 30%;
  margin-right: 2vw;
  margin-left: 2vw;
  margin-top: 3vh;
  margin-bottom: 3vh;
}

.equipment_card img {
  width: 8vw;
  margin-bottom: 2vh;
}

.container_equipment p {
  text-align: center;
}

.container_solves {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: space-between;
  height: auto;
  margin-bottom: 7vh;
  background-color: #fff;
  text-align: center;
}

.container_solves h2 {
  margin-bottom: 2vh;
}

.small_text {
  display: flex;
  color: #0D0D0D;
  font-family: 'Roboto Light', sans-serif;
  font-size: 2vh;
  margin: 0;
}

.solves_block_cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 3vh;
  height: auto;
}

.solves_card {
  border: 1px solid #4A3311;
  border-radius: 2vh;
  height: auto;
  width: 100%;
  text-align: left;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 5vh;
}

.solves_block {
  width: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 2vw;
}

.solves_card img {
  height: 15vw;
}

.solves_card_text {
  height: auto;
  width: 60%;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.solves_card_text_h3 {
  padding-top: 0.7vw;
  padding-bottom: 0.7vw;
  padding-left: 2vw;
  padding-right: 2vw;
  background-color: #FFEEB1;
  border: 1px solid #4A3311;
  border-radius: 5vh;
  width: fit-content;
}

@media (max-width: 600px) {
  h1 {
    font-size: 3vh;
  }

  h2 {
    font-size: 2.5vh;
  }
  
  h3 {
    font-size: 2vh;
  }

  .container_main {
    flex-direction: column;
    align-items: center;
    padding-left: 2vw;
}

.container_main img {
    margin-left: 0;
    margin-bottom: 2vh;
    width: 35vw;
}

.main_text {
    width: 75vw;
}

.task_about_all {
  flex-direction: column;
  height: auto;
  justify-content: space-between;
  padding-top: 3vh;
  padding-bottom: 3vh;
  padding-left: 2vw;
  padding-right: 2vw;
}

.task_about_text {
  width: 95%;
}

.task_about_all img {
  margin-left: 0;
  margin-bottom: 2vh;
}

.task_about_all h2 {
  margin-bottom: 2vh;
  margin-left: 0;
}

.break {
  width: 25vw;
  height: 1px;
  margin-bottom: 3vh;
}

.container_ask {
  flex-direction: column;
  width: 100%;
}

.container_ask h2 {
  margin-bottom: 3vh;
}

.container_ask ul {
  padding-left: 5vw;
  margin-bottom: 3vh;
}

.ask_text {
  width: 100%;
  margin-bottom: 3vh;
}

.container_ask img {
  width: 30vw;
  margin-left: 0;
}

.container_equipment h2 {
  text-align: center;
}

.solves_block {
  flex-direction: column;
  padding: 3vw;
}

.solves_card_text {
  width: 90%;
}

.solves_block img {
  margin-top: 2vh;
  margin-bottom: 2vh;
  width: 50%;
  height: auto;
}

.solves_card_text_h3 {
  padding-top: 1.5vw;
  padding-bottom: 1.5vw;
  padding-left: 2.5vw;
  padding-right: 2.5vw;
  background-color: #FFEEB1;
  border: 1px solid #4A3311;
  border-radius: 5vh;
  width: fit-content;
}

.equipment_card h3 {
  font-size: 1.8vh;
}

}