.container {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  margin-left: 10%;
  margin-right: 10%;
  position: relative;
  margin-top: 5vh;
}

.container_main {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: auto;
  margin-bottom: 10vh;
}

.container_main img {
  width: 15vw;
  display: flex;
}

.container_main h1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: auto;
  text-align: left;
  line-height: 110%;
  margin-bottom: 3vh;
  margin-right: 5vw;
}

.res_list {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: space-between;
  height: auto;
  margin-bottom: 7vh;
  text-align: center;
}

.res_card_1 {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-self: center;
  position: relative;
  justify-content: space-between;
  align-items: center;
  height: 90%;
  margin-bottom: 10vh;
}

.res_card_2 {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  align-self: center;
  position: relative;
  align-items: center;
  justify-content: space-between;
  height: 90%;
  margin-bottom: 10vh;
}

.res_card_1 img {
  width: 10vw;
}

.res_card_2 img {
  width: 10vw;
}

.res_card_text_1 {
  text-align: left;
  margin-left: 3vw;
}

.res_card_text_2 {
  text-align: left;
  margin-right: 3vw;
}

.container p {
  margin-bottom: 2vh;
}

@media (max-width: 600px) {
  h1 {
    font-size: 3vh;
  }

  h2 {
    font-size: 2.5vh;
  }

  .container_main {
    flex-direction: column-reverse;
    align-items: center;
  }

  .container_main h1 {
    margin-left: 0;
    text-align: center;
    margin: 0;
  }

  .container_main img {
      margin-left: 0;
      margin-bottom: 3vh;
      width: 15vw;
  }

  .res_list {
    margin-bottom: 3vh;
  }

  .res_card_1 {
    flex-direction: column;
    margin-bottom: 7vh;
    align-items: start;
  }

  .res_card_1 img {
    margin-bottom: 3vh;
    height: 20vw;
    width: auto;
  }

  .res_card_2 {
    flex-direction: column;
    margin-bottom: 7vh;
    align-items: start;
  }

  .res_card_2 img {
    margin-bottom: 3vh;
    height: 20vw;
    width: auto;
  }

  .res_card_text_1 {
    margin: 0;
  }

  .res_card_text_2 {
    margin: 0;
  }
}