.container {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 10%;
  margin-right: 10%;
}

.container_main {
  width: 90%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 60vh;
  margin-bottom: 10vh;
}

.container_main img {
  width: 50vh;
  height: 50vh;
  display: flex;
  margin-left: 5vw;
}

.search {
  height: 35vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 10vh;
  border: 1px solid #4A3311;
  border-radius: 2vh;
  background-color: #FFEEB1;
}

.search h2 {
  height: 2vh;
  margin-bottom: 2vh;
}

.search_block {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-top: 3vw;
}

.selector {
  width: 20vw;
  height: 14vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.selector select {
  height: 7vh;
  width: 15vw;
  padding-left: 1vw;
  padding-right: 1vw;
  border: 1px solid #4A3311;
  border-radius: 1vw;
}

.selector option {
  height: 7vh;
  width: 15vw;
  padding-left: 1vw;
  padding-right: 1vw;
  border: 1px solid #4A3311;
  border-radius: 2vh;
}

.selector option:hover {
  background-color: #FFEEB1;
  outline: none;
}

.selector option:focus {
  background-color: #FFEEB1;
  outline: none;
}

.search_block button {
  margin-left: 10vw;
}

.content {
  width: 100%;
  height: 200vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
}

.content img {
  width: 100%;
}

.solves {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 10vh;
}

.download {
  height: 65vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 10vh;
  border: 1px solid #4A3311;
  border-radius: 2vh;
}

.download img {
  height: 70%;
}

.download_text {
  width: 60%;
  margin-left: 5vw;
  height: 85%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.par {
  display: flex;
  color: #0D0D0D;
  font-family: 'Roboto Light', sans-serif;
  font-size: 2vh;
  margin: 0;
}

.links_block {
  width: 100%;
  height: 65%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.link {
  height: 8vh;
  width: 100%;
  background-color: #FFEEB1;
  border-radius: 1vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  text-align: left;
}

.link p {
  text-align: left;
  width: 70%;
  display: flex;
  align-items: center;
  margin: 0;
}

.link button {
  background-color: #FFFFFF;
  height: 2.5vw;
  width: 2.5vw;
  border-radius: 3vw;
  border: 1px solid #4A3311;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 2vw;
}

.links_block img {
  width: 1.5vw;
  height: 1.5vw;
}

.number {
  border: 1px solid #4A3311;
  height: 2.5vw;
  width: 2.5vw;
  border-radius: 3vw;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 2vw;
}

.documents {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10vh;
}

iframe {
  width: 60vw;
  height: 33.75vw;
}

.documents img {
  width: 60vw;
  margin-top: 5vh;
}
