.container {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  margin-left: 10%;
  margin-right: 10%;
  position: relative;
  margin-top: 5vh;
}

.container_main {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: auto;
  margin-bottom: 7vh;
}

.container_main img {
  width: 30vw;
  display: flex;
}

.main_text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: auto;
  text-align: left;
  width: 40vw;
}

.main_text h2 {
  margin-top: 2vh;
  line-height: 110%;
}

.search {
  height: auto;
  width: 100%;
  padding: 2vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 5vh;
  border: 1px solid #4A3311;
  border-radius: 2vh;
  background-color: #FFEEB1;
}

.search h2 {
  height: 2vh;
  margin-bottom: 2vh;
}

.search_block {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-top: 3vw;
}

.selector {
  width: 20vw;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.selector select {
  height: 7vh;
  width: 15vw;
  padding-left: 1vw;
  padding-right: 1vw;
  border: 1px solid #4A3311;
  border-radius: 1vw;
}

.selector option {
  height: 7vh;
  width: 15vw;
  padding-left: 1vw;
  padding-right: 1vw;
  border: 1px solid #4A3311;
  border-radius: 2vh;
}

.selector option:hover {
  background-color: #FFEEB1;
  outline: none;
}

.selector option:focus {
  background-color: #FFEEB1;
  outline: none;
}

.search_block button {
  margin-left: 5vw;
}

.content img {
  width: 100%;
}

.solves {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.download {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 5vh;
  border: 1px solid #4A3311;
  border-radius: 2vh;
  padding: 3vw;
}

.download h2 {
  margin-bottom: 2vh;
}

.download img {
  width: 30vw;
}

.download_text {
  width: 60%;
  margin-left: 5vw;
  height: 85%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.par {
  display: flex;
  color: #0D0D0D;
  font-family: 'Roboto Light', sans-serif;
  font-size: 2vh;
  margin: 0;
}

.links_block {
  width: 100%;
  height: 65%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-top: 1.5vh;
  margin-bottom: 1.5vh;
}

.link {
  height: 8vh;
  width: 100%;
  background-color: #FFEEB1;
  border-radius: 1vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  text-align: left;
  margin-top: 1vh;
}

.link p {
  text-align: left;
  width: 65%;
  display: flex;
  align-items: center;
  margin: 0;
  font-size: 2vh;
}

.link button {
  background-color: #FFFFFF;
  height: 3.5vh;
  width: 4.5vh;
  border-radius: 2vw;
  border: 1px solid #4A3311;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 2vw;
}

.links_block img {
  width: 1.5vh;
  height: 1.5vh;
}

.number {
  border: 1px solid #4A3311;
  height: 3.5vh;
  width: 3.5vh;
  border-radius: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 2vw;
}

.documents {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 7vh;
}

iframe {
  width: 60vw;
  height: 33.75vw;
}

.documents img {
  width: 60vw;
  margin-top: 5vh;
}

@media (max-width: 600px) {
  h1 {
    font-size: 3vh;
  }

  h2 {
    font-size: 2.5vh;
  }
  
  h3 {
    font-size: 2vh;
  }

.container_main {
    flex-direction: column;
    align-items: center;
}

.container_main img {
    margin-left: 0;
    margin-bottom: 2vh;
    width: 35vw;
}

.container_main h1 {
    margin-bottom: 2vh;
}

.search h2 {
  margin-bottom: 1vh;
}

.search_block {
  flex-direction: column;
}

.search_block button {
  margin-left: 0;
}

.selector {
  width: 70%;
  margin-bottom: 1vh;
}

.selector h3 {
  margin-bottom: 1vh;
}

.selector select {
  width: 100%;
  height: 5vh;
}

.download {
  flex-direction: column;
}

.download_text {
  width: 90%;
  margin-left: 0;
}

iframe {
  width: 100%;
  height: 45vw;
}

.documents img {
  width: 100%;
}

.link p {
  font-size: 1.8vh;
  line-height: 120%;
}

.number {
  height: 3vh;
  width: 3vh;
}

}