.container {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 200vh;
    margin-left: 10%;
    margin-right: 10%;
}

.container_main {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 80vh;
    /* border-bottom: 1px solid red; */
}

.container_main img {
    width: 35vw;
    height: 35vw;
    display: flex;
    margin-left: 5vw;
}

.main_text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 60vh;
    text-align: left;
    width: 40vw;
}

.main_text h2 {
    margin-top: 4vh;
}

button {
    color: #fff;
    cursor: pointer;
    border-radius: 4px;
    padding: 2vh 2vh;
    background: #FFAA24;
    transition: 0.15s;
    border: 1px solid #FFAA24;
    height: 8vh;
    width: 10vw;
  }
  
button:hover {
    color: #000000;
    transform: translate(-0.25rem, -0.25rem);
    background: #fff;
    box-shadow: 0.25rem 0.25rem #000;
    border: 1px solid #000;
  }
  
button:active {
    transform: translate(0);
    box-shadow: none;
  }