.container {
  background-color: #FFEEB1;
  width: 100%;
  height: 15vh;
  display: flex;
  /*  */
  align-items: center; /* Центрирование содержимого по вертикали */
  position: fixed;
  z-index: 1000;
}

.navbar {
  width: 65vw;
  margin-left: 8vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.links {
  display: flex;
  color: #0D0D0D;
  font-family: 'Roboto Condensed Regular', sans-serif;
  font-size: 16pt;
  line-height: normal;
  text-decoration: none;
}

.links:not(:last-child) {
  margin-right: 5vw; /* Добавление отступа между ссылками */
}

.links:hover {
  color: #4A3311;
}

.logo {
  width: 4vw;
  height: 4vw;
  display: flex;
}

.logo_container {
  display: flex;
  justify-content: center;
  margin-left: 6vw;
}