.container {
  background-color: #FFEEB1;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center; /* Центрирование содержимого по вертикали */
  position: sticky;
}

.navbar {
  width: 845px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.links {
  display: flex;
  color: #0D0D0D;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: normal;
  text-decoration: none;
}

.links:not(:last-child) {
  margin-right: 60px; /* Добавление отступа между ссылками */
}

.links:hover {
  color: #4A3311;
}

.logo {
  width: 55px;
  height: 55px;
  margin-left: -193px;
}

.logo-container {
  display: flex;
  align-items: center; /* Выравнивание по вертикали */
}