.container {
  background-color: #FFEEB1;
  height: 300px;
  display: flex;
  /* justify-content: center; */
  align-items: center; /* Центрирование содержимого по вертикали */
  padding-left: 145px;
  padding-right: 145px;
}

.navbar {
  width: 320px;
  height: 150px;
  text-align: left;
  display: flex;
  flex-direction: column; /* Расположение элементов по вертикали */
  justify-content: space-between;
}

.links {
  display: flex;
  color: #0D0D0D;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  text-decoration: none;
}

.links:not(:last-child) {
  margin-right: 60px; /* Добавление отступа между ссылками */
}

.links:hover {
  color: #4A3311;
}

.line {
  width: 1px;
  height: 115px; /* Высота контейнера */
  background-color: #4A3311;
  position: relative; /* Относительное позиционирование */
}


.picture {
  left: 160px;
  position: relative;
}

.text {
  display: flex;
  color: #0D0D0D;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 12px;
  margin: 0;
}

.text_logo {
  position: relative;
  left: 342px;
  right: 0px;
  height: 140px;
  justify-content: space-between;
  text-align: right;
}

.logo {
  margin-top: 80px;
}