.container {
  background-color: #FFEEB1;
  height: 300px;
  display: flex;
  /* justify-content: center; */
  align-items: center; /* Центрирование содержимого по вертикали */
  padding-left: 145px;
}

.navbar {
  width: 320px;
  height: 150px;
  text-align: left;
  display: flex;
  flex-direction: column; /* Расположение элементов по вертикали */
  justify-content: space-between;
}

.links {
  display: flex;
  color: #0D0D0D;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  text-decoration: none;
}

.links:not(:last-child) {
  margin-right: 60px; /* Добавление отступа между ссылками */
}

.links:hover {
  color: #4A3311;
}

.logo {
  width: 55px;
  height: 55px;
  margin-left: -193px;
}

.logo-container {
  display: flex;
  align-items: center; /* Выравнивание по вертикали */
}