@font-face {
  font-family: "Roboto Medium";
  src: local("Roboto Medium"),
    url("./data/fonts/Roboto-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto Light";
  src: local("Roboto Light"),
    url("./data/fonts/Roboto-Light.ttf") format("truetype");
}


@font-face {
  font-family: "Roboto Regular";
  src: local("Roboto Regular"),
    url("./data/fonts/Roboto-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto Condensed Regular";
  src: local("Roboto Condensed Regular"),
    url("./data/fonts/RobotoCondensed-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto Slab Medium";
  src: local("Roboto Slab Medium"),
    url("./data/fonts/RobotoSlab-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto Slab Regular";
  src: local("Roboto Slab Regular"),
    url("./data/fonts/RobotoSlab-Regular.ttf") format("truetype");
}

body {
  font-family: 'Roboto Regular', sans-serif;
  font-size: 14pt;
  line-height: 140%;
  margin: 0;
  padding: 0;
}

p {
  margin-bottom: 10px; /* Расстояние между абзацами */
}

.navlinks {
  font-family: 'Roboto Condensed Medium', sans-serif;
  font-size: 16pt;
  line-height: normal;
}

h1 {
  font-family: 'Roboto Slab Regular', sans-serif;
  font-size: 36pt;
  line-height: 120%;
  margin: 0;
  padding: 0;
}

h2 {
  font-family: 'Roboto Medium', sans-serif;
  font-size: 20pt;
  margin: 0;
  padding: 0;
}

h3 {
  font-family: 'Roboto Slab Regular', sans-serif;
  font-size: 16pt;
  margin: 0;
  padding: 0;
}